body{
	
}
header{
	background-color: red
}
.navbar .btn, .navbar .btn-group{
	margin-top: 8px
}
.navbar .btn-navbar{
	text-shadow: none;
	padding: 6px 7px;
	float: right;
    margin-right: 12px;
}

.btn:hover, .btn:focus{
	transition:none;
}

.navbar-inner{
	min-height: 47px;
	background-image:none;
	background-color: ;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner{
	box-shadow: none;
}

.navbar .btn-navbar .icon-bar{
    width: 20px;
    height: 3px;
}

.social-media {
    position: relative;
    top: 8px;
    margin: 0 23px;
}

.social-media .fa-facebook,.fa-google-plus,.fa-twitter,.fa-instagram,.fa-youtube {
    padding: 4px 6px;
    cursor: pointer;
    font-weight: 500;
    background: #3b5998;
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 4px;
}
.social-media #icon{
    padding: 4px 6px;
    cursor: pointer;
    font-size: inherit;
    font-weight: 500;
    background: #3b5998;
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 4px;
}
.search{
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
}


.overlay-content {
    position: relative;
    top: 40%;
    width: 80%;
    text-align: center;

}

.search .closebtn {
    position: absolute;
    top: 30px;
    right: 32px;
    font-size: 55px;
    cursor: pointer;
    color: white;
}

.search input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 50%;
    background: white;
    border-radius: inherit;
}

.search input[type=text]:hover {
    background: #f1f1f1;
}

.search button {
    float: left;
    width: 10%;
    height: 50px;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search button:hover {
    background: #bbb;
}

@media (max-width: 900px){

	.search .closebtn{
		right: 24px;
	}
	.search input[type=text]{
		width: 60%
	}

	.search button{
		width: 15%;
	}
}

@media (max-width: 979px){
.navbar-inner{
	padding-right:0px;
	padding-left:0px;
}
.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
	padding: 9px 15px;
    color: #fff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.nav-collapse .nav > li > a {
    margin-bottom: 15px;
}
.nav-collapse .nav {
    float: none;
    margin: 0 0 -2px;
    background: blue;
    margin-top: 15px;
    height: 212px;
    text-align: center;
}
.show{
    height: 212px
}

}

.nav-collapse .nav > li > a{
    text-shadow: none;
    font-weight: bold !important;
    font-size: 16px
}

